
'.source.js':
  'html:section':
    'prefix': 'sect'
    'body': '<section>${1}</section>'

  'html:a':
    'prefix': 'a'
    'body': '<a href="">${1}</a>'

  'html:a className':
    'prefix': 'acn'
    'body': '<a href="" className="${1}"></a>'

  'html:span':
    'prefix': 'span'
    'body': '<span>${1}</span>'

  'html:p':
    'prefix': 'p'
    'body': '<p>${1}</p>'

  'html:stro':
    'prefix': 'stro'
    'body': '<strong>${1}</strong>'

  'html:iframe':
    'prefix': 'ifra'
    'body': '<iframe>${1}</iframe>'

  'html:fieldset':
    'prefix': 'field'
    'body': '<fieldset>\n\t<legend>${1}</legend>\n\t</fieldset>'

  'html:main':
    'prefix': 'main'
    'body': '<main>${1}</main>'

  'html:main className':
    'prefix': 'macn'
    'body': '<main className="${1}"></main>'

  'html:span className':
    'prefix': 'spcn'
    'body': '<span className="${1}"></span>'

  'html:sect':
    'prefix': 'sect'
    'body': '<section>${1}</section>'

  'html:section className':
    'prefix': 'secn'
    'body': '<section className="${1}"></section>'

  'html:div':
    'prefix': 'div'
    'body': '<div>${1}</div>'

  'html:div className':
    'prefix': 'dcn'
    'body': '<div className="${1}"></div>'

  'html:article':
    'prefix': 'article'
    'body': '<aarticle>${1}</article>'

  'html:article className':
    'prefix': 'arcn'
    'body': '<article className="${1}"></article>'

  'html:img':
    'prefix': 'img'
    'body': '<img src="${1}" alt="" />'

  'html:image className':
    'prefix': 'imgcn'
    'body': '<img className="${1}" src="${1a}" alt="" />'

  'html:h1':
    'prefix': 'h1'
    'body': '<h1>${1}</h1>'

  'html:h1 className':
    'prefix': 'h1cn'
    'body': '<h1 className="${1}"></h1>'

  'html:h2':
    'prefix': 'h2'
    'body': '<h2>${1}</h2>'

  'html:h2 className':
    'prefix': 'h2cn'
    'body': '<h2 className="${1}"></h2>'

  'html:h3':
    'prefix': 'h3'
    'body': '<h3>${1}</h3>'

  'html:h3 className':
    'prefix': 'h3cn'
    'body': '<h3 className="${1}"></h3>'

  'html:h4':
    'prefix': 'h4'
    'body': '<h4>${1}</h4>'

  'html:h4 className':
    'prefix': 'h4cn'
    'body': '<h4 className="${1}"></h4>'

  'html:figure':
    'prefix': 'figure'
    'body': '<figure>${1}</figure>'

  'html:figcaption':
    'prefix': 'figcaption'
    'body': '<figcaption>${1}</figcaption>'

  'html:figure className':
    'prefix': 'figcn'
    'body': '<figure className="${1}"></figure>'

  'html:header':
    'prefix': 'header'
    'body': '<header>${1}</header>'

  'html:header className':
    'prefix': 'hecn'
    'body': '<header className="${1}"></header>'

  'html:nav':
    'prefix': 'nav'
    'body': '<nav>${1}</nav>'

  'html:nav className':
    'prefix': 'navcn'
    'body': '<nav className="${1}"></nav>'

  'html:ul':
    'prefix': 'ul'
    'body': '<ul>${1}</ul>'

  'html:ul className':
    'prefix': 'ulcn'
    'body': '<ul className="${1}"></ul>'

  'html:li':
    'prefix': 'li'
    'body': '<li>${1}</li>'

  'html:li className':
    'prefix': 'licn'
    'body': '<li className="${1}"></li>'

  'html:uli':
    'prefix': 'uli'
    'body': '<ul>\n\t<li>${1}</li>\n\</ul>'

  'html:ol':
    'prefix': 'ol'
    'body': '<ol>${1}</ol>'

  'html:ol className':
    'prefix': 'olcn'
    'body': '<ol className="${1}"></ol>'

  'html:footer':
    'prefix': 'footer'
    'body': '<footer>${1}</footer>'

  'html:footer className':
    'prefix': 'foocn'
    'body': '<footer className="${1}"></footer>'

  'html:form':
    'prefix': 'form'
    'body': '<form>${1}</form>'

  'html:form className':
    'prefix': 'forcn'
    'body': '<form className="${1}"></form>'

  'html:label':
    'prefix': 'label'
    'body': '<label>${1}</label>'

  'html:label className':
    'prefix': 'labcn'
    'body': '<label className="${1}"></label>'

  'html:input':
    'prefix': 'input'
    'body': '<input type="" name="" value=""${1} />'

  'html:input className':
    'prefix': 'inpcn'
    'body': '<input className="${1}" type="" name="" value="" />'

  'html:textarea':
    'prefix': 'textarea'
    'body': '<textarea name="" cols="" rows="">${1}</textarea>'

  'html:textarea className':
    'prefix': 'textcn'
    'body': '<textarea className="${1}" name="" cols="" rows=""></textarea>'

  'html:button':
    'prefix': 'button'
    'body': '<button type="button">${1}</button>'

  'html:button className':
    'prefix': 'butcn'
    'body': '<button className="${1}"></button>'

  'html:meta':
    'prefix': 'meta'
    'body': '<meta charset="utf-8"/>'

  'html:link':
    'prefix': 'link'
    'body': '<link rel="stylesheet" href="${1}"/>'

  'html:viewport':
    'prefix': 'viewport'
    'body': '<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>'

  'html:tag':
    'prefix': 'tag'
    'body': '<${name} />'

  'html:menu':
    'prefix': 'menu'
    'body': '<nav>\n\t<ul>\n\t\t<li>\n\t\t\t<a href="">${1}</a>\n\t\t</li>\n\t</ul>\n\</nav>'
