
'.source.js':
  'html:section':
    'prefix': 'sect'
    'body': '<section>${1}</section>'

  'html:a':
    'prefix': 'a'
    'body': '<a href="">${1}</a>'

  'html:span':
    'prefix': 'span'
    'body': '<span>${1}</span>'

  'html:div':
    'prefix': 'sect'
    'body': '<section>${1}</section>'

  'html:span':
    'prefix': 'span'
    'body': '<span>${1}</span>'

  'html:div':
    'prefix': 'div'
    'body': '<div>${1}</div>'

  'html:article':
    'prefix': 'article'
    'body': '<aarticle>${1}</article>'

  'html:img':
    'prefix': 'img'
    'body': '<img src="${1}" alt="" />'

  'html:h1':
    'prefix': 'h1'
    'body': '<h1>${1}</h1>'

  'html:h2':
    'prefix': 'h2'
    'body': '<h2>${1}</h2>'

  'html:h3':
    'prefix': 'h3'
    'body': '<h3>${1}</h3>'

  'html:h4':
    'prefix': 'h4'
    'body': '<h4>${1}</h4>'

  'html:figure':
    'prefix': 'figure'
    'body': '<figure>${1}</figure>'

  'html:header':
    'prefix': 'header'
    'body': '<header>${1}</header>'

  'html:nav':
    'prefix': 'nav'
    'body': '<nav>${1}</nav>'

  'html:ul':
    'prefix': 'ul'
    'body': '<ul>${1}</ul>'

  'html:li':
    'prefix': 'li'
    'body': '<li>${1}</li>'

  'html:uli':
    'prefix': 'uli'
    'body': '<ul>\n\t<li>${1}</li>\n\</ul>'

  'html:ol':
    'prefix': 'ol'
    'body': '<ol>${1}</ol>'

  'html:footer':
    'prefix': 'footer'
    'body': '<footer>${1}</footer>'

  'html:form':
    'prefix': 'form'
    'body': '<form>${1}</form>'

  'html:label':
    'prefix': 'label'
    'body': '<label>${1}</label>'

  'html:input':
    'prefix': 'input'
    'body': '<input type="" name="" value=""${1} />'

  'html:textarea':
    'prefix': 'textarea'
    'body': '<textarea name="" cols="" rows="">${1}</textarea>'

  'html:button':
    'prefix': 'button'
    'body': '<button>${1}</button>'

  'html:meta':
    'prefix': 'meta'
    'body': '<meta charset="utf-8"/>'

  'html:link':
    'prefix': 'link'
    'body': '<link rel="stylesheet" href="${1}"/>'

  'html:viewport':
    'prefix': 'viewport'
    'body': '<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>'

  'html:tag':
    'prefix': 'tag'
    'body': '<${1} />'
